:root {
  --background: hsl(231, 15%, 18%); /* dark */
  --foreground: hsl(60, 30%, 96%); /* light */
  --selection:	hsl(232, 14%, 31%); /* dark-grey */
  --selection-L: hsl(0, 0%, 53%); /* light-grey */
  --comment:	hsl(225, 27%, 51%); /* blue-grey*/
  --red-hue: 0deg;
  --red-sat: 75%;
  --red-lig: 50%;
  --red: hsl(var(--red-hue),var(--red-sat),calc(var(--red-lig)));
  --dark-red: hsl(var(--red-hue),var(--red-sat),calc(var(--red-lig))-20%);
  --light-red: hsl(var(--red-hue),var(--red-sat),calc(var(--red-lig))+20%);
  --transparent-red: hsl(var(--red-hue),var(--red-sat),var(--red-lig)/0.5);
  --soft-red: hsl(var(--red-hue),calc(var(--red-sat)-30%),calc(var(--red-lig))+10%);
  --orange-hue: 31deg;
  --orange-sat: 100%;
  --orange-lig: 50%;
  --orange: hsl(var(--orange-hue),var(--orange-sat),calc(var(--orange-lig)));
  --dark-orange: hsl(var(--orange-hue),var(--orange-sat),calc(var(--orange-lig))-20%);
  --light-orange: hsl(var(--orange-hue),var(--orange-sat),calc(var(--orange-lig))+20%);
  --transparent-orange: hsl(var(--orange-hue),var(--orange-sat),var(--orange-lig)/0.5);
  --soft-orange: hsl(var(--orange-hue),calc(var(--orange-sat)-30%),calc(var(--orange-lig))+10%);
  --green-hue: 135deg;
  --green-sat: 90%;
  --green-lig: 35%;
  --green: hsl(var(--green-hue),var(--green-sat),calc(var(--green-lig)));
  --dark-green: hsl(var(--green-hue),var(--green-sat),calc(var(--green-lig))-20%);
  --light-green: hsl(var(--green-hue),var(--green-sat),calc(var(--green-lig))+20%);
  --transparent-green: hsl(var(--green-hue),var(--green-sat),var(--green-lig)/0.5);
  --soft-green: hsl(var(--green-hue),calc(var(--green-sat)-30%),calc(var(--green-lig))+10%);
  --purple-hue: 265deg;
  --purple-sat: 89%;
  --purple-lig: 65%;
  --purple: hsl(var(--purple-hue),var(--purple-sat),calc(var(--purple-lig)));
  --dark-purple: hsl(var(--purple-hue),var(--purple-sat),calc(var(--purple-lig))-20%);
  --light-purple: hsl(var(--purple-hue),var(--purple-sat),calc(var(--purple-lig))+20%);
  --transparent-purple: hsl(var(--purple-hue),var(--purple-sat),var(--purple-lig)/0.5);
  --soft-purple: hsl(var(--purple-hue),calc(var(--purple-sat)-30%),calc(var(--purple-lig))+10%);
  --cyan-hue: 191deg;
  --cyan-sat: 97%;
  --cyan-lig: 55%;
  --cyan: hsl(var(--cyan-hue),var(--cyan-sat),calc(var(--cyan-lig)));
  --dark-cyan: hsl(var(--cyan-hue),var(--cyan-sat),calc(var(--cyan-lig))-20%);
  --light-cyan: hsl(var(--cyan-hue),var(--cyan-sat),calc(var(--cyan-lig))+20%);
  --transparent-cyan: hsl(var(--cyan-hue),var(--cyan-sat),var(--cyan-lig)/0.5);
  --soft-cyan: hsl(var(--cyan-hue),calc(var(--cyan-sat)-30%),calc(var(--cyan-lig))+10%);
  --pink-hue: 326deg;
  --pink-sat: 100%;
  --pink-lig: 60%;
  --pink: hsl(var(--pink-hue),var(--pink-sat),calc(var(--pink-lig)));
  --dark-pink: hsl(var(--pink-hue),var(--pink-sat),calc(var(--pink-lig))-20%);
  --light-pink: hsl(var(--pink-hue),var(--pink-sat),calc(var(--pink-lig))+20%);
  --transparent-pink: hsl(var(--pink-hue),var(--pink-sat),var(--pink-lig)/0.5);
  --soft-pink: hsl(var(--pink-hue),calc(var(--pink-sat)-30%),calc(var(--pink-lig))+10%);
  --color-primary: var(--green);
  --color-lightGrey: var(--comment);
  --color-grey: var(--selection-L);
  --color-darkGrey: var(--selection);
  --color-error: var(--red);
  --color-success: var(--green);
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem; /*Note: rem has been scaled down to 62.5%, therefore rem=px/10 (ex. 1.6rem=16px)*/
  --font-family-sans: "Inter", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  --logo-discount: var(--red);
}
:root, :root[data-theme=light] {
  --bg-color: var(--foreground);
  --bg-secondary-color: var(--selection);
  --font-color: var(--background);
  --logo-title: var(--background);
  --logo-odd: var(--background);
  --logo-even: var(--selection);
}
:root[data-theme=dark] {
  --bg-color: var(--background);
  --bg-secondary-color: var(--selection);
  --font-color: var(--foreground);
  --logo-title: var(--foreground);
  --logo-odd: var(--foreground);
  --logo-even: var(--selection-L);
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background 1s;
}

.svgTire, .svgStorage, .svgSpace {
  fill: var(--logo-title);
}

.svgDisc {
  fill: var(--logo-discount) !important;
}

.svgLogo1, .svgLogo3 {
  fill: var(--logo-odd) !important;
}
.svgLogo2, .svgLogo4 {
  fill: var(--logo-even) !important;
}

:where(html) {
  --ease-1:cubic-bezier(.25,0,.5,1);
  --ease-2:cubic-bezier(.25,0,.4,1);
  --ease-3:cubic-bezier(.25,0,.3,1);
  --ease-4:cubic-bezier(.25,0,.2,1);
  --ease-5:cubic-bezier(.25,0,.1,1);
  --ease-in-1:cubic-bezier(.25,0,1,1);
  --ease-in-2:cubic-bezier(.50,0,1,1);
  --ease-in-3:cubic-bezier(.70,0,1,1);
  --ease-in-4:cubic-bezier(.90,0,1,1);
  --ease-in-5:cubic-bezier(1,0,1,1);
  --ease-out-1:cubic-bezier(0,0,.75,1);
  --ease-out-2:cubic-bezier(0,0,.50,1);
  --ease-out-3:cubic-bezier(0,0,.3,1);
  --ease-out-4:cubic-bezier(0,0,.1,1);
  --ease-out-5:cubic-bezier(0,0,0,1);
  --ease-in-out-1:cubic-bezier(.1,0,.9,1);
  --ease-in-out-2:cubic-bezier(.3,0,.7,1);
  --ease-in-out-3:cubic-bezier(.5,0,.5,1);
  --ease-in-out-4:cubic-bezier(.7,0,.3,1);
  --ease-in-out-5:cubic-bezier(.9,0,.1,1);
  --ease-elastic-1:cubic-bezier(.5,.75,.75,1.25);
  --ease-elastic-2:cubic-bezier(.5,1,.75,1.25);
  --ease-elastic-3:cubic-bezier(.5,1.25,.75,1.25);
  --ease-elastic-4:cubic-bezier(.5,1.5,.75,1.25);
  --ease-elastic-5:cubic-bezier(.5,1.75,.75,1.25);
  --ease-squish-1:cubic-bezier(.5,-.1,.1,1.5);
  --ease-squish-2:cubic-bezier(.5,-.3,.1,1.5);
  --ease-squish-3:cubic-bezier(.5,-.5,.1,1.5);
  --ease-squish-4:cubic-bezier(.5,-.7,.1,1.5);
  --ease-squish-5:cubic-bezier(.5,-.9,.1,1.5);
  --ease-step-1:steps(2);
  --ease-step-2:steps(3);
  --ease-step-3:steps(4);
  --ease-step-4:steps(7);
  --ease-step-5:steps(10) ;
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center center;
}

.sun-and-moon > :is(.moon,
.sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover,
:focus-visible) > .sun-and-moon > :is(.moon,
.sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover,
:focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme=dark] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme=dark] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme=dark] .sun-and-moon > .moon > circle {
  transform: translate(-7px);
}

@supports (cx: 1) {
  [data-theme=dark] .sun-and-moon > .moon > circle {
    transform: translate(0);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }
  .sun-and-moon > .sun-beams {
    transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
  }
  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }
  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }
  [data-theme=dark] .sun-and-moon > .sun {
    transform: scale(1.75);
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
  }
  [data-theme=dark] .sun-and-moon > .sun-beams {
    transform: rotate(-25deg);
    transition-duration: 0.15s;
  }
  [data-theme=dark] .sun-and-moon > .moon > circle {
    transition-delay: 0.25s;
    transition-duration: 0.5s;
  }
}
.theme-toggle {
  --size: 2rem;
  --icon-fill: var(--font-color);
  --icon-fill-hover: var(--font-color);
  background: none;
  border: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
}

.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

/*    [data-theme=dark] .theme-toggle {
    --icon-fill: hsl(210 10% 70%);
    --icon-fill-hover: hsl(210 15% 90%) 
   } */
@media (hover: none) {
  .theme-toggle {
    --size: 48px ;
  }
}
.m-a {
  margin: auto;
}

.my-a {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-middle {
  vertical-align: middle;
}

.no-wrap {
  white-space: nowrap;
}

.nav a {
  color: var(--font-color);
}

.home-header {
  margin-top: 10px;
  min-height: 8rem;
  max-height: 10rem;
}

.last-header {
  margin-right: 24px;
}

.header-button {
  margin-left: 0 !important;
}

.homeSplash {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  background-image: url("../public/tires2-1500w.jpg");
  background-clip: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.splashText {
  font-weight: bold;
  color: white;
  font-size: 5vw;
}

.topDivide {
  padding-bottom: 0;
  margin-bottom: 0;
}

footer {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  min-height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .headerEmail {
    display: none !important;
  }
  a .logo1 {
    max-width: 250px;
  }
}
@media (max-width: 767px) {
  .headerPhone {
    display: none !important;
  }
  .logo1 {
    max-width: 220px;
  }
}

/*# sourceMappingURL=main.css.map */
