/* vvv GLOBAL VARIABLES vvv */
:root {
  --color-primary: #14854f;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.8rem;
  --font-family-sans: "Inter", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

:root, :root[data-force-color-mode="light"] {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --font-color: #333333;
}

:root[data-force-color-mode="dark"] {
    --bg-color: #222;
    --bg-secondary-color: #404040;
    --font-color: #eee;
}
/* ^^^ GLOBAL VARIABLES ^^^ */

#reset-darkmode {
	display: none;
	text-decoration: none;
	font-style: italic;
}
[data-force-color-mode] #reset-darkmode {
	display: initial;
}

/* Visually hide the label text and Inject Light/Dark Mode Icon (based on checkbox value) */
#toggle-darkmode {
	display: none;
}
#toggle-darkmode + label > span {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
#toggle-darkmode + label:after {
	font-size: 4em;
	content: "🔆";
	cursor: pointer;
}
#toggle-darkmode:checked + label:after {
	content: "🌙";
}

/* vvv GLOBAL STYLES vvv */
.m-a {
  margin: auto;
}

.my-a {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-middle {
  vertical-align: middle;
}

.no-wrap {
  white-space: nowrap;
}

/* ^^^ GLOBAL STYLES ^^^ */

[data-force-color-mode="dark"] :is(.navbar, a, .h-8) {
    color: var(--color-lightGrey)
}

.home-header {
  margin-top: 10px;
  min-height: 80px;
  max-height: 100px;
}

.last-header {
  margin-right: 24px;
}

.first-header {
  max-height: inherit;
}

.first-header img {
  width: auto;
  max-width: 300px;
  max-height: 100%;
  padding: 10px;
}


/* vvv Theme Switcher vvv */
.theme-switcher {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  background-color: inherit;
  transform-origin: right center;
  transition-duration: 0.5s;
  /* padding-left: 0; */
}
.h-8 {
  height: 3rem;
}
/* [data-force-color-mode="dark"] .h-8 {
    color: var(--color-lightGrey)
} */
.focus\:not-sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/* ^^^ Theme Switcher ^^^ */


/* vvv MEDIA QUERIES vvv */
@media(max-width: 991px) {
    .headerEmail {
      display: none !important;
    }
    a .logo1 {
        max-width: 250px;
      }
  }
  @media(max-width: 767px) {
    .headerPhone {
      display: none !important;
    }
    .logo1 {
      max-width: 220px;
    }
    /* .icon1 {
      width: var(--dl-size-size-small);
    }
    .iconTitle {
      text-align: center;
    } */
  }
/* ^^^ MEDIA QUERIES ^^^ */